header {
    background-color: #051e3b;
    padding: 10px 5%;
    border-radius: 30px;
    margin-top: 30px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #ffffff;
}

body {
    background-color: #0a3361;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 10%;
}

/* Estilo dos títulos */
h1, h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

/* Estilo para parágrafos */
p {
    color: #fcfcfc;
    text-align: justify;
    line-height: 1.6;
    font-size: 1.1rem;
}

/* Estilo para links */
a {
    color: #00c3ff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
}

a:hover {
    text-decoration: underline;
    color: #66d9ff;
}

/* Destaque em palavras específicas */
span {
    color: #fd0000;
    font-weight: bold;
    padding: 2px 4px;
}

/* Estilo para imagem */
img {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    height: auto;
}

/* Rodapé */
footer {
    background-color: #051e3b;
    padding: 30px 10%;
    text-align: center;
    margin-top: 30px;
    color: #cccccc;
    border-radius: 30px;
}

footer h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer a {
    color: #66d9ff;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}
